<div class="container py-3">
    <h1 class="dot text-center mb-5">Follow Our Blog For New Recipes and Travel Stories</h1>
    <div class="parent">
        {% for article in blog.articles %}{% endfor %}
        <div class="pic1">
            {% if section.settings.image_1 != blank %}
                <a href="{{ section.settings.hover_link_1}}">
                    <figure class="snip0015 rounded grid_img">
                        <!-- <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample38.jpg" alt="sample38"/> -->
                        <img class=" grid_img" src="{{ section.settings.image_1 | img_url: '750x700', crop: 'left' }}" alt="{{ section.settings.image.alt}}">
                        <figcaption class="d-flex flex-column justify-content-center align-items-center">
                            <h2>{{ section.settings.hover_title_1}}</h2>
                            <p>{{ section.settings.hover_paragraph_1}}</p>

                            <p class="p-1-half rounded bg-danger text-light mt-2">View Here</p>
                        </figcaption>
                    </figure>
                </a>
            {% else %}
                {% assign placeholder = 'lifestyle-2' %}
                {{ placeholder | placeholder_svg_tag: 'placeholder-svg' }}
            {% endif %}
        </div>
        <div class="pic2">
            {% if section.settings.image_2 != blank %}
                <a href="{{ section.settings.hover_link_2}}">
                    <figure class="snip0015 rounded grid_img">
                        <!-- <img class="rounded grid_img" src="{{ section.settings.image_3 | img_url: '550x232', crop: 'center' }}" alt="{{ section.settings.image.alt}}"> -->
                        <img class="rounded grid_img" src="{{ section.settings.image_2 | img_url: '550x435', crop: 'right' }}" alt="{{ section.settings.image.alt}}">
                        <figcaption class="d-flex flex-column justify-content-center align-items-center">
                            <h2>{{ section.settings.hover_title_2}}</h2>
                            <p>{{ section.settings.hover_paragraph_2}}</p>

                            <p class="p-1-half rounded bg-danger text-light mt-2 font-weight-boldest">View Here</p>

                        </figcaption>
                    </figure>
                </a>
            {% else %}
                {% assign placeholder = 'lifestyle-2' %}
                {{ placeholder | placeholder_svg_tag: 'placeholder-svg' }}
            {% endif %}
        </div>
        <div class="pic3">
            {% if section.settings.image_3 != blank %}
                <a href="{{ section.settings.hover_link_3}}">
                    <figure class="snip0015 rounded grid_img">
                        <!-- <img class=" grid_img" src="{{ section.settings.image_3 | img_url: '750x700', crop: 'left' }}" alt="{{ section.settings.image.alt}}"> -->
                        <img class="rounded grid_img" src="{{ section.settings.image_3 | img_url: '550x216', crop: 'center' }}" alt="{{ section.settings.image.alt}}">
                        <figcaption class="py-2 d-flex flex-column justify-content-center align-items-center">
                            <h2>{{ section.settings.hover_title_3}}</h2>
                            <p>{{ section.settings.hover_paragraph_3}}</p>

                            <p class="p-1-half rounded bg-danger text-light mt-1">View Here</p>


                        </figcaption>
                    </figure>
                </a>
            {% else %}
                {% assign placeholder = 'lifestyle-2' %}
                {{ placeholder | placeholder_svg_tag: 'placeholder-svg' }}
            {% endif %}
        </div>
    </div>
</div>


<style>

    .p-1-half {
        padding: .3rem;
    }



    .parent {
        display: grid;
        grid-template-columns: 1.3fr 1fr;
        grid-template-rows: 1fr 0.6fr;
        grid-column-gap: 10px;
        /* grid-row-gap: 5px; */
    }

    .pic1 {
        grid-area: 1 / 1 / 3 / 2;
    }

    .pic2 {
        grid-area: 1 / 2 / 2 / 3;
    }

    .pic3 {
        grid-area: 2 / 2 / 3 / 3;
    }




    /* @import url(https://fonts.googleapis.com/css?family=Raleway:400,200,300,800); */
figure.snip0015 {
  /* font-family: 'Raleway', Arial, sans-serif; */
  color: #fff;
  position: relative;
  overflow: hidden;
  /* margin: 10px; */
  /* min-width: 220px;
  max-width: 310px;
  max-height: 220px; */
  /* width: 100%; */
  background: #000000;
  text-align: center;
}
figure.snip0015 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
figure.snip0015 img {
  opacity: 1;
  width: 100%;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}
figure.snip0015 figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 4em 4em;
  width: 100%;
  height: 100%;
}
figure.snip0015 figcaption::before {
  position: absolute;
  top: 50%;
  right: 30px;
  bottom: 50%;
  left: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  content: '';
  opacity: 0;
  background-color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}
figure.snip0015 h2,
figure.snip0015 p {
  margin: 0 0 5px;
  /* font-size: 3rem; */
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s,-webkit-transform 0.35s,-moz-transform 0.35s,-o-transform 0.35s,transform 0.35s;
}
figure.snip0015 h2 {
  word-spacing: -0.15em;
  font-weight: 300;
  text-transform: uppercase;
  -webkit-transform: translate3d(0%, 50%, 0);
  transform: translate3d(0%, 50%, 0);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
figure.snip0015 h2 span {
  font-weight: 800;
}
figure.snip0015 p {
  font-weight: 200	;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
figure.snip0015 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  color: #ffffff;
}
figure.snip0015:hover img {
  opacity: 0.35;
}
figure.snip0015:hover figcaption h2 {
  opacity: 1;
  -webkit-transform: translate3d(0%, 0%, 0);
  transform: translate3d(0%, 0%, 0);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
figure.snip0015:hover figcaption p {
  opacity: 0.9;
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}
figure.snip0015:hover figcaption::before {
  background: rgba(255, 255, 255, 0);
  top: 30px;
  bottom: 30px;
  opacity: 1;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

</style>

{% schema %}
{
  "name": "Browse Blog",
  "class": "Browse Blog Section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading Title",
      "default": "The Latest From Our Blog"
    },
    {
        "type": "text",
        "id": "hover_title_1",
        "label": "Image Hover Title 1",
        "default": "Where to Find the Best Street Tacos in SGV"
      },
      {
        "type": "text",
        "id": "hover_title_2",
        "label": "Image Hover Title 2",
        "default": "Kare Kare"
      },
      {
        "type": "text",
        "id": "hover_title_3",
        "label": "Image Hover Title 3",
        "default": "El Monte, The City of Friendly Neighbors"
      },
      {
        "type": "text",
        "id": "hover_paragraph_1",
        "label": "Image Hover Paragragh 1",
        "default": "From a slice of pineapple in your taco, to earthy goat birria"
      },
      {
        "type": "text",
        "id": "hover_paragraph_2",
        "label": "Image Hover Paragragh 2",
        "default": "Peanut sauce, shrimp paste, and fried liempo"
      },
      {
        "type": "text",
        "id": "hover_paragraph_3",
        "label": "Image Hover Paragragh 3",
        "default": "Hidden Gems"
      },
      {
        "type": "url",
        "id": "hover_link_1",
        "label": "Hover Image 1 Link"
    },
    {
        "type": "url",
        "id": "hover_link_2",
        "label": "Hover Image 2 Link"
    },
    {
        "type": "url",
        "id": "hover_link_3",
        "label": "Hover Image 3 Link"
    },
    {
        "type": "image_picker",
        "id": "image_1",
        "label": "Image 1"
    },
    {
        "type": "image_picker",
        "id": "image_2",
        "label": "Image 2"
    },
    {
        "type": "image_picker",
        "id": "image_3",
        "label": "Image 3"
    }
  ],
  "presets": [
    {
      "category": "Browse",
      "name": "Browse Blog"
    }
  ]
}
{% endschema %}