<div class="container">
    <div class="features_grid col-12  mt-5">
        <div class="div1">
            <div class="grey h-100 grid-item d-flex flex-column justify-content-center align-items-center rounded">
                <div class="ico truck horizontal_grid_item p-3 rounded-circle dark_grey">
                    <img alt="" class="feature-icon" src="{{ section.settings.grid_image_1 | img_url: '50x50'}}">
                </div>
                <h5 class="mt-xl-3 mt-lg-3 mt-2  text-center features_grid-item">{{ section.settings.grid_item_title_1 }}</h5>
            </div>
        </div>
        <div class="div2">
            <div class="grey ml-3 contactless h-100 grid-item d-flex justify-content-start align-items-center rounded">
                <div class="horizontal_grid_item p-2 rounded-circle dark_grey">
                    <img id="feature_icon-2" class="feature-icon" alt="" src="{{ section.settings.grid_image_2 | img_url: '50x50'}}">
                </div>
                <h5 class="m-0 features_grid-item horizontal_grid-item">{{ section.settings.grid_item_title_2 }}</h5>
            </div>
        </div>
        <div class="div3">
            <div class="grey money h-100 grid-item d-flex justify-content-start align-items-center rounded">
                <div class="horizontal_grid_item p-2 rounded-circle dark_grey">
                    <img id="feature_icon-3" class="feature-icon" alt="" src="{{ section.settings.grid_image_3 | img_url: '50x50'}}">
                </div>
                <h5 class="m-0 features_grid-item horizontal_grid-item">{{ section.settings.grid_item_title_3 }}</h5>
            </div>
        </div>
        <div class="div4">
            <div class="h-100 secure grid-item d-flex flex-column justify-content-center align-items-center rounded">
                <div class="ico p-3 rounded-circle dark_grey">
                    <img alt="" class="feature-icon cc" src="{{ section.settings.grid_image_4 | img_url: '50x50'}}">
                </div>
                <h5 class="mt-xl-3 mt-lg-3 mt-2 text-center features_grid-item">{{ section.settings.grid_item_title_4 }}</h5>
            </div>
        </div>
    </div>
</div>

{% schema %}
{
  "name": "Features Grid",
  "class": "Features Grid Section",
  "settings": [
    {
      "type": "text",
      "id": "grid_item_title_1",
      "label": "Grid Item 1 Title",
      "default": "Super Fast and Free Shipping"
    },
    {
        "type": "text",
        "id": "grid_item_title_2",
        "label": "Grid Item 1 Title",
        "default": "Non-Contact Shipping"
      },
      {
        "type": "text",
        "id": "grid_item_title_3",
        "label": "Grid Item 1 Title",
        "default": "Money-Back Guarantee"
      },
      {
        "type": "text",
        "id": "grid_item_title_4",
        "label": "Grid Item 1 Title",
        "default": "Super Secure Payment System"
      },
      {
        "type": "image_picker",
        "id": "grid_image_1",
        "label": "Image 1"
      },
      {
        "type": "image_picker",
        "id": "grid_image_2",
        "label": "Image 2"
      },
      {
        "type": "image_picker",
        "id": "grid_image_3",
        "label": "Image 3"
      },
      {
        "type": "image_picker",
        "id": "grid_image_4",
        "label": "Image 4"
      }
  ],
  "presets": [
    {
      "category": "Browse",
      "name": "Features Grid"
    }
  ]
}
{% endschema %}