<section class="inner-hero-section overlay">
    {% if section.settings.image != blank %}
        <img class="hero_pic" srcset="{{ section.settings.image | img_url: 'master'}} 1400w, {{ section.settings.image_mobile | img_url: width: 320 }} 320w" sizes="(max-width: 600px) 320px, 1400px" alt="{{ section.settings.image.alt}}">
    {% else %}
        {% assign placeholder = 'lifestyle-2' %}
        {{ placeholder | placeholder_svg_tag: 'placeholder-svg' }}
    {% endif %}
    <div class="container py-5">
        <div class="row ">
            <div class="hero-div bg-light d-flex flex-column justify-content-center align-items-center h-50 w-50 rounded hero_text text-dark col-lg-6 col-md-8 mx-auto">
                <h1>{{section.settings.title}}</h1>
                <p class="hero_text">{{section.settings.description}}</p>
                <a class="hero-btn_link" href={{section.settings.button_link}}>
                    <button class="btn btn-lg rust__button">{{section.settings.button_label}}</button>
                </a>
            </div>
        </div>
    </div>
</section>

{% schema %}

{
    "name": "Hero",
    "class": "hero-section",
    "settings": [
        {
            "type": "image_picker",
            "id": "image",
            "label": "Heading Background Image"
        }, {
            "type": "image_picker",
            "id": "image_mobile",
            "label": "Heading Background Image for Mobile, 300 w"
        }, {
            "type": "text",
            "id": "title",
            "default": "Example Heading",
            "label": "Heading Title"
        }, {
            "type": "text",
            "id": "description",
            "default": "Example Description",
            "label": "Heading Description"
        }, {
            "type": "text",
            "id": "button_label",
            "default": "Button",
            "label": "Heading Button Label"
        }, {
            "type": "url",
            "id": "button_link",
            "label": "Heading Button Link"
        }
    ],
    "presets": [
        {
            "category": "Hero",
            "name": "Simple Hero"
        }
    ]
}

{% endschema %}
