{% assign current_product = product.selected_or_first_available_variant %}
{% assign product_image = current_product.featured_image | default: product.featured_image %}

<div class="container my-5">
    <div class="row">
        <div class="col-md-6 col-12">
            <img class="img-fluid rounded mb-3" src="{{ product_image | img_url: 'large'}}" alt="{{ product_image.alt }}" id="ProductMainImage"/>
            <!-- {% for image in product.images %}
                <img class="rounded" src="{{ image.src | img_url: 'medium' }}" alt="{{image.alt}}">
            {% endfor %} -->
        </div>
        <div class="col-12 col-md-6">
            {% form 'product', product, class: "product.form", id: "AddToCartForm" %}
            {% for block in section.blocks %}
                {% case block.type %}
                {% when "title" %}
                <h2 class="dot">{{ product.title }}</h2>
                {% when "price" %}
                <h1 id="productPrice">{{ current_product.price | money}}</h1>
                {% when "variant_selector" %}                                
                <div class="mb-3">
                    <label for="productSelect" class="form-label" >Size</label>
                    <select class="form-select" id="productSelect" product-handle="{{ product.handle }}" name="id">
                        {% for variant in product.variants %}
                            {% if variant.available %}
                                <option value="{{ variant.id }}">
                                    {{ variant.title }}
                                </option>
                            {% else %}
                                <option value="{{ variant.id }}" disabled="disabled">
                                    {{ variant.title }}
                                </option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                {% when "quantity" %}
                <div class="mb-3">
                    <label for="Quantity" class="form-label" >Quantity</label>
                    <input class="form-control" id="Quantity" name="quantity" type="number" value="1" min="1">
                </div>
                <div id="totalPrice" class="mb-3">
                        
                </div>
                {% when "checkout_buttons" %}
                <button class="btn btn-large w-100 rust mb-3"id="AddToCart" name="add" type="submit">Add To Cart</button>
                {% if section.settings.dynamic_buttons_checkbox == true %}
                {{ form | payment_button }}
                {% endif %}     
                {% when "description" %}
                <h3>Item Description</h3>
                <p>{{ product.description }}</p>           
                {% else %}
                    
            {% endcase %}
            {% endfor %}

            {% endform %}
        </div>
    </div>
</div>

{% schema %}
{
    "name": "Product",
    "settings": [
    {
        "type": "checkbox",
        "id": "dynamic_buttons_checkbox",
        "label": "Enable Dynamic Buttons",
        "default": true
    }
    ],
    "blocks": [
        {
            "type": "title",
            "name": "Title",
            "limit": 1
        },
        {
            "type": "price",
            "name": "Price",
            "limit": 1
        },
        {
            "type": "variant_selector",
            "name": "Variant Selector",
            "limit": 1
        },
        {
            "type": "quantity",
            "name": "Quantity",
            "limit": 1
        },
        {
            "type": "checkout_buttons",
            "name": "Checkout Buttons",
            "limit": 1
        },
        {
            "type": "description",
            "name": "Description",
            "limit": 1
        }
    ]
}
{% endschema %}