{% if section.settings.container == 'container' %}
    {% assign container_class = 'container' %}
{% else %}
    {% assign container_class = 'container-fluid' %}
{% endif %}

{% for block in section.blocks %}
    {% case block.type %}
        {% when 'page_title' %}
            <div class="header_banner-about position-relative text-center p-3 p-md-5">
                <div class="col-md-5 p-lg-5 mx-auto my-5">
                    <h1 class="display-4 turmeric">{{page.title}}</h1>
                    <!-- <p class="lead text-light">Our Story</p> -->
                </div>
            </div>
        {% when 'page_date' %}
            <div class="{{ container_class }} my-5">
                <!-- {% if section.settings.show_publish_date %}
                    <small>{{ page.published_at | date: '%B %d, %Y' }}</small>
                {% endif %} -->
            {% when 'page_content' %}
                <div class="my-3">
                    {% if settings.show_breadcrumb_nav %}
                        {% include 'breadcrumbs' %}
                    {% endif %}
                </div>
                <div class="my-5">{{page.content}}</div>
                {% else %}
            {% endcase %}
    {% endfor %}
</div>

<style>
        .header_banner-about {
        background: url({{ section.settings.banner_image | img_url: 'master'}});
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        height: 100%;
        width: 100%;
        }
        
</style>

{% schema %}
{
    "name": "Page settings",
    "settings": [
        {
            "type": "select",
            "id": "container",
            "label": "Layout",
            "options": [
                {
                    "value": "container",
                    "label": "Container"
                },
                {
                    "value": "container-fluid",
                    "label": "Container Fluid"
                }
            ],
            "default": "container"
        },
        {
            "type": "image_picker",
            "id": "banner_image",
            "label": "Heading Background Image"
        },
        {
            "type": "checkbox",
            "id": "show_publish_date",
            "default": true,
            "label": "Show Publish Date"
        }
    ],
    "blocks": [
        {
            "type": "page_title",
            "name": "Title",
            "limit": 1
        },
        {
            "type": "page_date",
            "name": "Date",
            "limit": 1
        },
        {
            "type": "page_content",
            "name": "Content",
            "limit": 1
        }
    ]

}
{% endschema %}