<div class="container">
    {% paginate collection.products by 16 %}
        <div class="row my-5">
            <h1 class="text-center">{{ collection.title }}</h1>
        </div>
        <div class="row justify-content-center">
            <select class="form-select form-select-sm w-25" id="sort_by" name="sorting">
                {% for option in collection.sort_options %}
                    <option value="{{ option.value }}" {% if option.value == collection.sort_by %} selected {% endif %}>{{ option.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="row justify-content-center my-5">
            {% for product in collection.products %}
                {% assign image = product.featured_media.preview_image %}
                <div class="col-3 g-2">
                    <div class="card my-3 product_item">
                        {% if image != blank %}
                            <a href="#" id="productInfoAnchor" product-handle="{{ product.handle }}" product-price="{{ product.price | money_without_trailing_zeros}}">
                                <img class="pic card-img-top" src="{{ image | img_url: 'medium' }}" alt="{{ product.title }}">
                            </a>
                        {% else %}
                            {{ 'product-1' | placeholder_svg_tag: 'card-img-top'}}
                        {% endif %}
                        <div class="card-body">
                            <h3>
                                <a href="{{ product.url }}">{{ product.title }}</a>
                            </h3>
                            <p>{{ product.price | money_without_trailing_zeros }}</p>
                        </div>
                    </div>
                </div>

            {% else %}
                <p>no matches</p>
            {% endfor %}
        </div>

        <!-- creating a parameter and passing paginate variable here -->
        {% render 'pagination', paginate: paginate %}

    {% endpaginate %}
</div>

<div aria-hidden="true" class="modal fade" id="productInfoModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-label="close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <img alt="" class="img-fluid" id="productInfoImg" src="">
                    </div>
                    <div class="col-12 col-md-6">
                        <h1 id="productInfoTitle"></h1>
                        <h3 id="productInfoPrice"></h3>
                        <p id="productInfoDescription"></p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <form action="#" class="row" id="addToCartForm">
                    <select class="form-select col-auto" id="modalItemID" name="id"></select>
                    <input class="col-auto mx-3" id="modalItemQuantity" min="1" name="quantity" type="number" value="1">
                    <!-- <button class="btn btn-success col-auto" type="submit">Add to cart</button> -->
                    <button class="btn btn-sm rust col-auto" type="submit">Add to cart</button>
                </form>
            </div>
        </div>
    </div>
</div>