<!-- <div class="position-relative text-center bg-light p-3 p-md-5">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 dot">Cart</h1>
    </div>
</div> -->
<div class="header_banner-cart position-relative text-center p-3 p-md-5">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 turmeric">Cart</h1>
        <p class="lead text-light">Online Checkout</p>
    </div>
</div>
<div class="container my-5">
    {% if cart.item_count > 0 %}
        <div class="my-5">
            <form action="/cart" class="row" method="POST" novalidate>
                <div class="col-12 col-md-8">
                    <div class="card shadow">
                        <div class="card-body">
                            <table class="table table-borderless">
                                <thead>
                                    <th></th>
                                    <th>Product Name</th>
                                    <th>Size</th>
                                    <th>Price</th>
                                    <th>Qty</th>
                                    <th>Total</th>
                                </thead>
                                <tbody>
                                    {% for item in cart.items %}
                                        <tr>
                                            <td>
                                                <a href="{{ item.url | within: collections.all }}">
                                                    <img src="{{ item | img_url: 'small' }}" alt="{{ item.title | escape }}">
                                                </a>
                                            </td>
                                            <td>
                                                <a href="{{ item.url }}">{{ item.product.title }}</a>
                                                <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0">remove</a>
                                            </td>
                                            <td>
                                                <p class="small">{{ item.variant.title }}</p>
                                            </td>
                                            <td>{{ item.price | money }}</td>
                                            <td>
                                                <input type="number" name="updates[]" id="updates_{{ item.key }}" value="{{ item.quantity }}" min="0">
                                            </td>
                                            <td>
                                                {% if item.original_line_price != item.line_price %}
                                                    {{ item.original_line_price | money }}
                                                {% endif %}
                                                {{ item.line_price | money }}
                                                {% for discount in item.discounts %}
                                                    {{ discount.title }}
                                                {% endfor %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">

                    <div class="card shadow">
                        <div class="card-body">
                            {% for block in section.blocks %}
                                {% case block.type %}
                                    {% when "cart_total" %}
                                        <div class="cart-total-block">
                                            <p class="h3">The total amount is
                                            </p>
                                            <p>{{ cart.total_price | money }}</p>
                                        </div>
                                    {% when "cart_checkout_button" %}
                                        <div class="cart-checkout-buttons d-grid gap-2">
                                            <button class="btn rust" name="update" type="submit">Update</button>
                                            <button class="btn rust turmeric_border" name="checkout" type="submit">Checkout</button>
                                        </div>
                                    {% else %}

                                {% endcase %}
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </form>
        </div>
    {% else %}
        <div class="row">
            <h2 class="text-center">Your Cart is empty</h2>
        </div>
    {% endif %}
</div>

<style>
        .header_banner-cart {
            background: url({{ section.settings.banner_image | img_url: "master"}});
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            height: 100%;
            width: 100%;
        }
    </style>

{% schema %}
{
        "name": "Template Cart",
        "tag": "section",
        "blocks": [
        {
            "type": "cart_total",
            "name": "Cart Total",
            "limit": 1
        },
        {
            "type": "cart_checkout_button",
            "name": "Cart Buttons",
            "limit": 1
        },
        {
            "type": "title",
            "name": "Title",
            "limit": 1
        }
        ],
        "settings": [
        {
            "type": "image_picker",
            "id": "banner_image",
            "label": "Heading Background Image"
        }
        ]
    }
{% endschema %}